

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #7FC7D9;
    --light: #DCF2F1;
    --material: #0F1035;
    --text: black;
    --lightText: #ffffff ;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    user-select: none;
    color: var(--material);
    font-family: 'Open Sans';
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#loginBox{
    background-color: var(--dark);
    width: 30%;
    height: 80vh;
    display: block;
    margin: auto;
    margin-top: 4%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#loginBox h2{
    display: block;
    margin: auto;
    width: 100%;
    background-color: var(--material);
    color: var(--lightText);
    padding: 3% 0%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

